@model Movie
@{ 
    
}

<h1 class="mb-2">@Model.Name</h1>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Number in Stock: @Model.Stock</li>
</ul>
