@model SaveMovieViewModel

@{
    var id = Model.Id;
    string pageTitle = "Edit Movie";
    if(id == 0)
    {
        pageTitle = "Movie";
    }
}
    <h3 class="mt-2 mb-2">@pageTitle</h3>

    <form method="post" asp-controller="Movies" asp-action="Save">
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <input asp-for="@Model.Id" type="hidden" />
        <div class="form-group">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <div>
                <input asp-for="@Model.Name" class="form-control">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ReleaseDate)
            @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReleaseDate)
        </div>

        <div class="form-group">
            <label asp-for="@Model.GenreId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="@Model.GenreId"
                        asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
                    <option value="" selected>Please select</option>
                </select>
                <span asp-validation-for="@Model.GenreId]" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Stock" class="col-form-label"></label>
            <div>
                <input asp-for="@Model.Stock" class="form-control">
                <span asp-validation-for="@Model.Stock" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>

    </form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial"/>
}
